<header>
  <div class="jumbotron hidden-xs img-responsive">
    <div class="welcometext">
      <h2 class="">Andy Thach</h2>
      <h3>--Page is under construction!--</h3>
    </div>
  </div><!-- jumbotron -->

  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <!-- <a href="/" class="navbar-brand">Roux Meetups</a> -->
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav text-center">
          <li><a href="/">Home</a></li>
          <li><a href="/blogs">My Blogs</a></li>
        </ul><!-- nav -->
      </div><!-- navbar-collapse -->
    </div><!-- container -->
  </nav>
</header>
