<div class="maincontent">

  <article class="article">
    <h1 class="article-title">Personal Summary</h1>
      <p>I sleep once or twice a week, when I do sleep, i sleep in a chair or occasionally in a bed. When i send myself outside of the house, I tend to feed myself with some sandwiches. I can be one lame comedian once I get to know you. I type, i talk, i write and that generate me some Money.
      On weekends, to let off steam, I go on tour with my car or you can find me in a boat with a fishing rod.</p>
      < />
      <p>On a serious note; my main focus is JavaScript :)</p>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">Add me on Facebook!</h1>
    <p>I wonder how you got here, if you know me and we're not friends on Facebook, you can send me a friend request <a href="https://www.facebook.com/aaendewy">here ADD ME!</a>.</p>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">What I do for fun?</h1>
    <ul>
      <li>Football</li>
      <li>Fishing</li>
      <li>Photography</li>
      <li>Driver my weekend car</li>
    </ul>
  </article><!-- article -->

</div><!-- maincontent -->
