<aside class="col-sm-4">
  <article class="sidebar">
    <h1 class="sidebar-title">My skills set</h1>
    <ul class="sidebar-body">
      <li>MySql / Cloud Database</li>
      <li>JavaScript - focusing on NodeJS at this current time</li>
      <li>The usual HTML/CSS :)</li>
    </ul>
  </article><!-- article -->
</aside><!-- secondary -->
